*{
    font-family: roboto;
    text-align: center;
    padding:0px;
    margin: 0px;
  }
  body {
  background-color: #46B1C9;
  }
  h1{
    color: #ffffff;
  }
  h2{
    color:#ffffff;
  }
  p{
    color:#ffffff;
  }
  .ExerciseLite{
  text-align: center;
  padding: 15px;
  }
  .WorkoutButtons{
    padding:20px 80px;
    color:black;
  }
  .clockdiv{
    padding:20px 20px;
  }
  a:visited{
  color: black;
  }
  
  button{
    padding: 20px 20px;
    background-color: #ffffff;
  }
  
  .summary-section{
    padding: 20px 20px;
    margin: 0px 0px;
  }
  
  p{
    font-size: 20px;
    padding: 20px;
  }
  a{
    text-decoration: none;
  }
  .summary{
    text-align: center;
  }
  
  .button{
    height: 35px;
    padding: 20px;
  }
  